* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --color_background: rgb(239, 241, 244);
  --color_cheap: rgb(53, 199, 114);
  --color_faster: rgb(185, 132, 241);
  --color_button: rgb(255, 110, 50);
  --color_icon: rgb(244, 77, 94);
  --color_grey: rgb(178, 187, 197);
  --color_blue: rgb(93, 159, 254);
}

.flights {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color_background);
  overflow: hidden;
}

.flight {
  display: flex;
  margin: 30px auto;
  width: 80%;
  background-color: white;
  border-radius: 10px;
}
.flight:first-child {
  margin-top: 100px;
}

.flight__left {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 20%;
  border-right: rgb(239, 241, 244) solid 2px;
}

.flight__type {
  width: max-content;
  max-width: 100%;
  padding: 5px 10px;
  transform: translateY(-50%);
  border-radius: 10px;
  text-align: center;
  color: white;
}

.flight__type_cheap {
  background-color: var(--color_cheap);
}

.flight__type_faster {
  background-color: var(--color_faster);
}

.flight__price {
  transform: scale(1.3, 1.2);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.button {
  position: relative;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.button:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}

.flight__button {
  margin: 20px 0;
  background-color: var(--color_button);
}

.flight__message {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color_icon);
}

.flight__right {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
}

.flight__icons {
  display: flex;
  width: 100%;
}

.icons__list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.icons__list:last-child {
  margin-right: 0;
}

.icons__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: solid transparent 1px;
  border-radius: 100%;
  cursor: pointer;
}

.icons__item:last-child {
  margin-right: 0;
}

.icons__item:before,
.icons__item:after {
  position: absolute;
  display: none;
}

.icons__item:before {
  content: attr(alt);
  width: 140px;
  height: min-content;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  background: black;
  color: white;
}

.icons__item:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: black;
}

.icons__item:hover:before,
.icons__item:hover:after {
  display: block;
}

.icons__item:hover:before {
  bottom: 50px;
}

.icons__item:hover:after {
  bottom: 33px;
}

.item__image {
  width: 100%;
  height: 100%;
  border: solid transparent 1px;
  border-radius: 100%;
}

.item__icon_hover:hover {
  color: var(--color_blue);
}

.flight__icons_right {
  justify-content: flex-end;
}

.icons__item_shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.icons__item_icon {
  width: 30px;
  height: 30px;
}

.item__icon_tomato {
  color: var(--color_icon);
}

.item__icon_grey {
  color: var(--color_grey);
}

.flight__info {
  display: flex;
  padding: 20px 0;
  border-bottom: rgb(239, 241, 244) solid 2px;
}

.flight__info:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__wrapper_reverse {
  align-items: flex-end;
  text-align: right;
}

.info__wrapper_width15 {
  width: 15%;
}

.info__wrapper_width70 {
  width: 70%;
}

.info__wrapper_padding10 {
  padding: 10px 10px 0px 10px;
}

.info__time {
  transform: scale(1, 1.4);
  font-size: 2rem;
}

.info__city,
.info__date {
  color: var(--color_grey);
}

.info__animation {
  display: flex;
  justify-content: space-between;
  color: var(--color_grey);
}

.info__cities {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
}

.info__icon {
  cursor: pointer;
}

.info__icon:hover {
  color: var(--color_button);
}

.info__on-way {
  font-size: 1.2rem;
}

.cities__city {
  --percent: var(--progressbar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(var(--percent) * 1%);
  font-weight: bold;
  text-align: center;
  color: var(--color_blue);
  cursor: pointer;
}

.cities__city::before {
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  height: 2px;
  margin-bottom: 15px;
  border: solid transparent 1px;
  border-radius: 10px;
  background-color: var(--color_grey);
  content: "";
}

.cities__city:hover::before {
  border-width: thin;
  border-color: var(--color_button);
  background-color: transparent;
}

.cities__city:hover {
  color: var(--color_button);
}

.cities__city:first-child::before,
.cities__city:last-child::before {
  height: 5px;
}

.cities__city:first-child {
  text-align: left;
}

.cities__city:last-child {
  text-align: right;
}
